.ToDoList {
    display: flex;
    margin-top: 300px;
    flex-direction: column;
    height: 100vh;
    align-items: center;

    &-Header {
        display: flex;
        justify-content: space-between;
        width: 30%;
        margin-bottom: 20px;

        span {
            font-weight: bold;

            &:last-child {
                cursor: pointer;
            }
        }
    }

    table {
        border-collapse: collapse;
        width: 30%;

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            padding-left: 20px;
        }

        td {
            &.Button {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &-Form {
        width: 30%;

        input {
            text-align: center;
            margin: 0;
        }
    }
}
